
/*camera */

     .data
    {
        text-align:center;
    }

   
 .data input
   {
       
       background-color:rgb(160, 160, 160);
       width:120px;       
       color: white;
       font-weight:400;
       cursor: pointer;
       
       
       
   }

   
     